[Desktop Entry]
Name=System Analyser
Comment=Real-time system monitor for Raspberry Pi
Exec=system-analyser
Icon=system-analyser
Terminal=false
Type=Application
Categories=System;Monitor;Utility;
StartupWMClass=system-analyser
